<!DOCTYPE html>
<html>
  <head>
    <title>OneApp</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>OneApp</h1>
    <p>Welcome to OneApp</p>
  </body>
</html>
